*{
    border: 0;
    margin: 0;
    box-sizing: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    overflow:hidden;
}
.header{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 200;
}

.logo{
    padding: 5px;
    width: 6rem;
    height: 6rem;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-img{
    width: 70%;
    height: auto;
    
}
.logo-nome{
    font-size: 18px;
    font-family: 'Shantell Sans';
    font-weight: 1000;
    color: white;
}
.menu-bar{
    width: calc(100vw - 6rem);
    background-color: none;
    display: flex;
    align-items: end;
    flex-direction: column;
}
.menu-content{
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
    visibility: visible;
}
.menu-item{
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu';
    padding: 20px;
    font-size: 20px;
}
.body-content{
    height: 100vh;
    width: 100vw;
}
.body1{
    background-color: #00A6C7;
    background-image: url('./assets/imgs/bc.svg');
    background-repeat: no-repeat;
    background-attachment: static;
    background-size: 1550px;

    background-position: 15vw 0; 
    display: flex;
    flex-direction: row;
}
.left-text{
    width: 40%;
    height: 100vh;
}
.dog-img{
    width: 60%;
    background-image: url('./assets/imgs/dog.png');
    background-repeat: no-repeat;
    background-size: 90vw;
    background-color: none;
    background-attachment: fixed;
    background-position:  right bottom;
}
.body2{
    background-color: #00A6C7;
    background-image: url('./assets/imgs/bc2.svg');
    background-repeat: no-repeat;
    background-attachment: static;
    background-size: 800px;
    background-position:  -230px -2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.video_main{
    margin-top: 100px;
    width: 80vw;
    height: 80vh;
    opacity: 0;
    margin-bottom: -100px;
}
.arrowContainer{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 5px solid;
    border-color: white;
    position: absolute;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    left: 10px;
    
}
.img_arrow{
    height: 80%;
    color: white;
    transform: rotate(180deg);
}

.img_arrow:hover{
    
}

.go_rotate{
    animation: rotate-arrow-go 1s forwards;
}
.back_rotate{
    animation: rotate-arrow-back 1s forwards;
}

.fade_tag_video{
    animation: fade-in 1.5s forwards;
}
.fade_out_tag_video{
    animation: fade-out 1.5s forwards;
}


.body3{
    background-color: black;
    position: absolute;
    top:0;
    left: 100vw;
}


@keyframes fade-in {
    0% {
        margin-bottom: -100px;
        opacity: 0;
    }
    100% {
        margin-bottom: 0px;
        opacity: 1;
    }
}

@keyframes fade-out{
    0% {
        margin-bottom: 0px;
        opacity: 1;
    }
    100% {
        margin-bottom: -100px;
        opacity: 0;
    }
}

@keyframes rotate-arrow-go {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes rotate-arrow-back {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}