*{
    border: 0;
    margin: 0;
    box-sizing: 0;
}
html {
    scroll-behavior: smooth;
  }
.header{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;

}

.logo{
    padding: 5px;
    width: 6rem;
    height: 6rem;
    background-color: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-img{
    width: 70%;
    height: auto;
    
}
.logo-nome{
    font-size: 18px;
    font-family: 'Shantell Sans';
    font-weight: 1000;
    color: white;
}
.menu-bar{
    width: calc(100vw - 6rem);
    background-color: none;
    display: flex;
    align-items: end;
    flex-direction: column;
}
.menu-content{
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
    visibility: visible;
}
.menu-item{
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu';
    padding: 20px;
    font-size: 20px;
}
.body-content{
    height: 100vh;
    width: 100vw;
}
.body1{
    background-color: #00A6C7;
    background-image: url('./assets/imgs/bc.svg');
    background-repeat: no-repeat;
    background-attachment: static;
    background-size: 1550px;

    background-position: 15vw 0; 
    display: flex;
    flex-direction: row;
}
.left-text{
    width: 40%;
    height: 100vh;
}
.dog-img{
    width: 60%;
    background-image: url('./assets/imgs/dog.png');
    background-repeat: no-repeat;
    background-size: 90vw;
    background-color: none;
    background-attachment: fixed;
    background-position:  right bottom;
}
.body2{
    background-color: #00A6C7;
    background-image: url('./assets/imgs/bc2.svg');
    background-repeat: no-repeat;
    background-attachment: static;
    background-size: 800px;
    background-position:  -200px -2px;
}